@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	scroll-behavior: smooth;
	overflow-x: hidden !important;
	background-color: #150e28;
	--font-1: "Inter", sans-serif;

	--font-2: "Montserrat", sans-serif;
	--color1: #d434fe;
	--color2: #903aff;
	--gradient: linear-gradient(to left, var(--color1), var(--color2));
	--line: rgba(255, 255, 255, 0.18);
	--background-color: #150e28;
}

html {
	font-size: 64.5%;
}

body {
	overflow-x: hidden;
}

.nav {
	width: 100%;
	height: 13vh;
	display: flex;
	align-items: center;
	padding: 0 7%;
	border-bottom: 1px solid var(--line);
	position: relative;
	justify-content: space-between;

	transition: 0.4s all;

	& > div.blur-grad {
		bottom: -400%;
		left: 20%;
	}
}

.nav-brand-cont {
	width: 20%;
}

.nav-brand {
	font-size: 2rem;
	color: white;
	font-weight: 700;
	font-family: var(--font-1);
	text-decoration: none;
}

.spcolor1 {
	color: var(--color1);
}

.nav-links-cont {
	width: 60%;
	display: flex;
	align-items: center;
	font-family: var(--font-2);

	@media screen and (max-width: 1168px) {
		display: none;
	}
}

.nav-links-cont.hidden {
	display: none;
}

.nav-links {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	color: white;
	list-style: none;

	& > li {
		margin: 0 25px;

		& > a {
			color: white;
			text-decoration: none;

			transition: 0.3s;
			&:hover {
				color: var(--color1);
				transition: 0.3s;
			}

			&:hover {
				background-image: var(--gradient);
				background-clip: text;
				color: transparent;
				-webkit-background-clip: text;
			}
			&.active {
				background-image: var(--gradient);
				background-clip: text;
				color: transparent;
				-webkit-background-clip: text;
			}
		}
	}
}

.nav-action {
	width: 20%;
	height: 100%;
}

.btn {
	font-size: 1.6rem;
	padding: 10px 40px;
	background-image: var(--gradient);
	color: white;
	text-decoration: none;
	font-family: var(--font-2);
	transition: 0.4s;

	&:hover {
		border-width: 2px;
		border-style: solid;
		border-image: linear-gradient(50deg, var(--color1), var(--color2));
		background-color: rgba(0, 0, 0, 0);
		background-image: none;
		border-image-slice: 1;
	}

	&.active {
		border-width: 2px;
		border-style: solid;
		border-image: linear-gradient(50deg, var(--color1), var(--color2));
		background-color: rgba(0, 0, 0, 0);
		background-image: none;
		border-image-slice: 1;
	}
}

.blur-grad {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: var(--color2);
	border-radius: 50%;
	filter: blur(150px);
	z-index: -1;

	@media screen and (max-width: 991px) {
		width: 250px;
		height: 250px;
	}
}

.toggle-btn {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 1168px) {
		display: none;
	}
}

.toggle-btn .icon {
	height: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.nav-small {
	position: absolute;
	height: 400px;
	width: 300px;

	background-color: var(--background-color);
	right: 10px;
	top: 100%;
	border-radius: 10px;
	padding: 10% 5%;
	z-index: 1000;
}

.nav-small > ul {
	font-family: var(--font3);
	font-size: 1.8rem;
	list-style: none;
	position: relative;

	& > li {
		margin-bottom: 30px;
	}
	& a {
		color: white;
		text-decoration: none;
	}
}

.close-btn {
	position: absolute;
	right: 30px;
	top: 30px;
	width: fit-content;
	height: fit-content;
	transition: 0.4s all;
	& > .icon {
		padding: 5px;
		border-radius: 50%;
		border: 1px solid var(--color2);
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}

.nav-small.hidden {
	display: none !important;
}
