@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	background-color: #150e28;
	--font-1: "Inter", sans-serif;

	--font-2: "Montserrat", sans-serif;
	--color1: #d434fe;
	--color2: #903aff;
	--gradient: linear-gradient(to left, var(--color1), var(--color2));
	--line: rgba(255, 255, 255, 0.18);
	--background-color: #150e28;
}

html {
	font-size: 64.5%;
}

.nav {
	width: 100%;
	height: 13vh;
	display: flex;
	align-items: center;
	padding: 0 7%;
	border-bottom: 1px solid var(--line);
	position: relative;
	justify-content: space-between;

	transition: 0.4s all;

	& > div.blur-grad {
		bottom: -400%;
		left: 20%;
	}
}

.nav-brand-cont {
	width: 20%;
}

.nav-brand {
	font-size: 2rem;
	color: white;
	font-weight: 700;
	font-family: var(--font-1);
	text-decoration: none;
}

.spcolor1 {
	color: var(--color1);
}

.nav-links-cont {
	width: 60%;
	display: flex;
	align-items: center;
	font-family: var(--font-2);

	@media screen and (max-width: 1168px) {
		display: none;
	}
}

.nav-links-cont.hidden {
	display: none;
}

.nav-links {
	width: 80%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 1.6rem;
	color: white;
	list-style: none;

	& > li {
		margin: 0 30px;

		& > a {
			color: white;
			text-decoration: none;

			&:hover {
				/* Todo Put smth here */
				/* color: red; */
			}
		}
	}
}

.nav-action {
	width: 20%;
	height: 100%;
}

.btn {
	font-size: 1.6rem;
	padding: 10px 40px;
	background-image: var(--gradient);
	color: white;
	text-decoration: none;
}

.blur-grad {
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: var(--color2);
	border-radius: 50%;
	filter: blur(150px);
	z-index: -1;
}

.blur-grad > img {
	z-index: 1000;
}

.toggle-btn {
	width: 20%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 1168px) {
		display: none;
	}
}

.toggle-btn .icon {
	height: 50px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.nav-small {
	position: absolute;
	height: 400px;
	width: 300px;

	background-color: var(--background-color);
	right: 10px;
	top: 100%;
	border-radius: 10px;
	padding: 10% 5%;
}

.nav-small > ul {
	font-family: var(--font3);
	font-size: 1.8rem;
	list-style: none;
	position: relative;

	& > li {
		margin-bottom: 30px;
	}
	& a {
		color: white;
		text-decoration: none;
	}
}

.close-btn {
	position: absolute;
	right: 30px;
	top: 30px;
	width: fit-content;
	height: fit-content;
	transition: 0.4s all;
	& > .icon {
		padding: 5px;
		border-radius: 50%;
		border: 1px solid var(--color2);
		width: 25px;
		height: 25px;
		cursor: pointer;
	}
}

.nav-small.hidden {
	display: none !important;
}

.landing {
	width: 100%;
	border-bottom: 2px solid var(--line);
	height: fit-content;
}

.intro-text {
	font-size: 3.6rem;
	font-family: var(--font-2);
	color: white;
	text-align: right;
	margin-top: 10px;
	font-style: italic;
	margin-right: 5%;

	@media screen and (max-width: 760px) {
		font-size: 3rem;
	}

	@media screen and (max-width: 672px) {
		font-size: 2.7rem;
	}

	@media screen and (max-width: 563px) {
		font-size: 2.3rem;
	}

	@media screen and (max-width: 485px) {
		font-size: 2rem;
	}

	@media screen and (max-width: 384px) {
		font-size: 1.5rem;
	}
}

.underline {
	position: relative;

	& .curved-underline {
		position: absolute;
		bottom: -30px;
		left: 0;

		.icon {
			width: 100%;
			height: 30px;
		}
	}
}

.landing-contents {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;
	padding: 5% 10% 0;

	& .content.text {
		width: 50%;
		height: fit-content;
	}

	& .content.img {
		position: relative;
		width: 50%;
	}

	@media screen and (max-width: 991px) {
		flex-direction: column;

		& .content.text {
			width: 100%;
			text-align: center;
		}

		& .content.img {
			width: 100%;
		}
	}
}

.heading {
	white-space: nowrap;
	font-size: 5rem;
	font-family: var(--font-1);
	color: white;
	z-index: 100;
	font-weight: 900;

	@media screen and (max-width: 1062px) {
		font-size: 4rem;
	}

	@media screen and (max-width: 497px) {
		font-size: 3rem;
	}

	@media screen and (max-width: 400px) {
		font-size: 2.5rem;
	}
}

.support {
	font-size: 10px;
	color: white;
	font-size: 1.9rem;
	font-family: var(--font-2);
	margin: 20px 0 30px;

	@media screen and (max-width: 497px) {
		font-size: 1.6rem;
	}

	@media screen and (max-width: 421px) {
		font-size: 1.3rem;
	}

	@media screen and (max-width: 400px) {
		font-size: 1.3rem;
	}
}

.time {
	display: flex;
	margin: 50px 0;
	font-size: 5rem;
	font-family: Unica One, "cursive";
	/* background-color: red; */
	align-items: center;

	@media screen and (max-width: 991px) {
		justify-content: center;
	}

	& .t-box {
		color: white;
		margin: 0px 10px;
	}
}

/* // Images */

.content.img {
	padding: 10px;
	position: relative;
	height: fit-content;
	/* background-color: green; */
	& .blur-grad {
		/* filter: blur(0px) !important; */
		right: 0;
		top: 70px;
	}

	& img {
		position: absolute;
		height: 450px;
		top: -30px;
		left: 50%;
		transform: translate(-50%);

		&:first-child {
			z-index: 4 !important;
		}
	}
}
